html {
    background: linear-gradient(90deg, rgb(48, 78, 112) 0%, rgb(36, 55, 92) 100%);
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
}

label {
    width: 65px;
    display: inline-block;
    text-align: right;
}

input {
    width: 150px;
    display: inline-block;
}