#todo_window_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 0 0;
    background-color: #141e30;
    border-bottom: solid 1px #3a6596;
}

#todo_window_header div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 3px 0 3px;
}

#create_new_todo,
#user_logout {
    margin-top: 5px;
}

#logo {
    width: 300px;
    height: 38px;
    background-image: url('../img/logo_h38px.jpg');
    background-repeat: no-repeat;
}

#user_name {
    padding: 0px;
    font-size: 22px;
}

#div_menu_and_all_todo {
    display: flex;
    flex-flow: column nowrap;
    margin: 5px;
    color: #fff;
}

#div_create_new_todo {
    /*display: none;*/
}

#form_new_todo {
    border: solid 1px #3a6596;
    border-radius: 10px;
    background-color: #141e30;
    padding: 5px;
    display: inline-flex;
    flex-flow: row wrap;
    margin-bottom: 4px;
}

#form_new_todo>div {
    margin: 0 5px;
}

#div_filters {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0px;
    border: solid 1px #3a6596;
    border-radius: 10px;
    background-color: #141e30;
    padding: 5px;
}

#form_new_todo_submit {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    padding: 3px 20px 0px 20px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: baseline;
    letter-spacing: 3px
}

#form_new_todo_submit:hover {
    background: #03e9f4;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 1px #03e9f4,
        0 0 5px #03e9f4,
        0 0 10px #03e9f4,
        0 0 20px #03e9f4;
}

#div_all_todo {
    display: flex;
    flex-flow: row wrap;
    /*background-color: #888;
    border: solid 1px #5c3f00;*/
    /*border-radius: 50px;*/
    padding: 10px;
    margin: 0px;
}

.div_todo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;
    margin: 15px 20px 15px 10px;
    padding: 0px;
    width: 250px;
    height: 250px;
    text-decoration: none;
    color: #000;
    background-color: #ffc;
    box-shadow: 5px 5px 5px rgba(33, 33, 33, .8);
}

.div_edit_mask {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 252px;
    height: 252px;
    z-index: 5;
    background-color: #303020ee;
    color: #fff;
    font-size: 15px;
}

.div_edit_mask h2 {
    margin: 0;
    padding: 0;
}

.div_edit_mask>div {
    margin: 5px 0;
}

.div_edit_mask_buttons {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.todo_edit_confirm,
.todo_edit_cancel {
    display: inline-block;
    margin: 0 10px;
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 18px;
}

.todo_edit_confirm {
    border: solid 1px #999;
    background-color: #008000;
}

.todo_edit_confirm:hover {
    background-color: #00ad00;
    cursor: pointer;
}

.todo_edit_cancel {
    border: solid 1px #999;
    background-color: #333;
}

.todo_edit_cancel:hover {
    background-color: #555;
    cursor: pointer;
}

.div_delete_mask {
    display: none;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 252px;
    height: 252px;
    z-index: 10;
    background-color: #303020ee;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.div_delete_mask_buttons {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.todo_delete_confirm,
.todo_delete_cancel {
    display: inline-block;
    margin: 0 10px;
    padding: 3px 6px;
    border-radius: 8px;
}

.todo_delete_confirm {
    border: solid 1px #999;
    background-color: #b80000;
}

.todo_delete_confirm:hover {
    background-color: #ff1f1f;
    cursor: pointer;
}

.todo_delete_cancel {
    border: solid 1px #999;
    background-color: #333;
}

.todo_delete_cancel:hover {
    background-color: #555;
    cursor: pointer;
}

.div_todo:nth-child(even) {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
}

.div_todo:nth-child(3n) {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background-color: #cfc;
}

.div_todo:nth-child(5n) {
    transform: rotate(5deg);
    position: relative;
    top: 10px;
    background-color: #ccf;
}


.todo_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    height: 15px;
}

.todo_header_left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: baseline;
    height: 15px;
}

.todo_header_right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: baseline;
    height: 15px;
}

.todo_header_left>div,
.todo_header_right>div {
    margin: 0 3px;
    padding: 0;
}

.todo_enddate {
    color: #666;
    font-family: 'Reenie Beanie';
    font-size: 25px;
}

.todo_footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 9px;
}

.todo_footer {
    color: #666;
    font-size: 9px;
    padding: 0px 3px 3px 3px;
}

.todo_footer>div {
    margin: 0;
    padding: 0;
}

.todo_header_right>div:hover {
    cursor: pointer;
}

.todo_footer>div:hover {
    cursor: help;
}

@media (pointer:coarse) {

    .todo_icon {
        display: inline-block;
    }
}

@media not screen and (any-pointer: coarse) {

    .todo_icon {
        display: none;
    }

    .div_todo:hover .todo_icon {
        display: inline-block;
    }
}


.todo_type {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    padding: 7px 7px 0 7px;
    font-family: 'Reenie Beanie';
    font-size: 28px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.todo_content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    padding: 0px 7px;
    font-family: 'Reenie Beanie';
    font-size: 31px;
    overflow: hidden;
    max-height: 184px;
}

/********************************************************************************************************/

#todo_window_header #create_new_todo,
#todo_window_header #user_logout {
    position: relative;
    display: inline-block;
    padding: 6px 10px 4px 10px;
    height: 18px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: baseline;
    overflow: hidden;
    transition: .5s;
    /*margin: 25px 0px 10px 0px;*/
    letter-spacing: 3px;
}


#todo_window_header #create_new_todo span,
#todo_window_header #user_logout span {
    position: absolute;
    display: block;
}

#todo_window_header #create_new_todo:hover span:nth-child(1),
#todo_window_header #user_logout:hover span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

#todo_window_header #create_new_todo:hover span:nth-child(2),
#todo_window_header #user_logout:hover span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

#todo_window_header #create_new_todo:hover span:nth-child(3),
#todo_window_header #user_logout:hover span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

#todo_window_header #create_new_todo:hover span:nth-child(4),
#todo_window_header #user_logout:hover span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

/********************************************************************************************************/

#messenger {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 30px;
    z-index: 100;
}

#messenger>div {
    display: inline-block;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
    white-space: nowrap;
    border: solid 1px red;
    color: #000;
    background-color: #fcc0c0;
}