/*ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;


}

li {
    padding: 6px 20px;

}

a {
    --fill-color: #007000;
    position: relative;
    display: block;
    padding: 4px 0;
    font: 600 20px Monaco, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.2s linear;


}

a:hover {
    background-size: 100%;
}*/

.menu {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0px 0px;
    margin: 0 auto;
}

li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

}

li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .5s;
    border-radius: 25px;
}

li:hover {

    color: black;
}

li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}