div.box {
    border: solid 1px hotpink;
    background-color: beige;
    width: 200px;
    height: 200px;
}

.hw_4_h3:not(:first-child) {
    margin-top: 50px;
    border-top: solid 1px lightgray;
}


.hw_4_task1_container {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
}

.hw_4_task1_container div {
    width: 150px;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 10px;
    margin: 0 3px 3px 0;
}

.hw_4_button {
    margin-right: 10px;
    padding: 2px 5px 2px 7px;
    border: solid 1px gray;
    border-radius: 6px;
    font-weight: 600;
    background: linear-gradient(-45deg, #ee775250, #e73c7e50, #23a6d550, #23d5ab50);
    background-size: 800% 800%;
    animation: gradient 10s ease infinite;
}

.hw_4_button:hover {
    cursor: pointer;
    border: solid 1px black;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#hw_4_task3_textarea {
    display: inline-block;
    float: left;
    resize: none;
    width: 400px;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 1px gray;
    border-radius: 6px;
}

#hw_4_task3_textbox {

    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    border: solid 1px red;
    border-radius: 6px;
}

#hw_4_task3_check_pizza_ingredients {
    clear: both;
    display: block;
}