#div_swapi_planet_counter {
    display: inline-flex;
    flex-grow: row;
}

#div_swapi_planet_counter div {
    width: 10px;
    height: 10px;
    border: solid 1px black;
    border-radius: 5px;
    margin-right: 1px;
}

#table_swapi_planets th {
    padding: 0 10px;
    margin: 0;
    border: solid 1px darkgreen;
    background-color: #00640050;
}

#table_swapi_planets td {
    padding: 0 10px;
    margin: 0;
    border: solid 1px #00640050;
}