.hw_2_MainContainer {
    display: inline-block;
    height: auto;
    margin: 0px;
    border: solid 20px gray;
    background-color: #ffffffaa;
}

.IngredientsAndAllergens {
    float: left;
    width: 50%;
}

.Steps,
.Allergens {
    clear: both;
    padding: 0 10px 0 25px;
}

.AllergensLine {
    display: block;
}

.AllergensLine>div {
    display: inline-block;
    border: solid 1px black;
    margin: 8px;
    padding: 8px;
}

.AllergenName {
    display: block;
}


h1 {
    font-size: 50px;
}

.PhotoAndSteps {
    float: left;
    width: 50%;
}

.Photo,
.Ingredients {
    clear: both;
    width: 100%;
    border: solid 1px black;
}

.Ingredients {
    background-color: #dddddd;
}

img {
    width: 100%;
}

.Photo {
    border-width: 1px 1px 0px 1px;
}


.Ingredients>h3,
.Ingredients>ol {
    margin: 30px;
}

.break {
    display: block;
    height: 300vh;
}

.karsta_kakava {
    display: block;
}

.tinginys_su_pienu,
.brownie_be_nieko {
    display: none;
}


#hw_2_menu li {
    float: left;
    display: block;
    font-size: 16px;
    background: linear-gradient(-45deg, #ee775230, #e73c7e30, #23a6d530, #23d5ab30);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: #000;
    margin: 15px 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
}

#hw_2_menu li.selected {
    background: linear-gradient(-45deg, #ee775260, #e73c7e60, #23a6d560, #23d5ab60);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

}

#hw_2_menu li:hover {
    background: linear-gradient(-45deg, #ee775290, #e73c7e90, #23a6d590, #23d5ab90);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    cursor: pointer;
}