.hw_2_MainContainer {
    display: inline-block;
    height: auto;
    margin: 0px;
    background-color: #ffffffaa;
}

.Steps,
.Allergens {
    clear: both;
    padding: 0 5px 0 25px;
}

.AllergensLine {
    display: block;
}

.AllergensLine div {
    display: none;
    border: solid 1px black;
    font-size: 26px;
    height: 40px;
    width: 40px;

    text-align: center;

    margin: 3px;
}

.AllergenName {
    display: block;
}


h1 {
    font-size: 50px;
}


.Photo,
.Ingredients {
    clear: both;
    width: 100%;
    border: solid 1px black;
}


.Ingredients {
    background-color: #dddddd;
}

.hw_2_MainContainer img {
    width: 100%;
}

.Photo {
    border-width: 1px 1px 0px 1px;
}


.Ingredients>h3,
.Ingredients>ol {
    margin: 30px;
}

.break {
    display: block;
    height: 300vh;
}

.karsta_kakava {
    display: block;
}

.tinginys_su_pienu,
.brownie_be_nieko {
    display: none;
}


#hw_2_menu li {
    float: left;
    display: block;
    font-size: 16px;
    background: linear-gradient(-45deg, #ee775250, #e73c7e50, #23a6d550, #23d5ab50);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: #000;
    margin: 15px 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
}

#hw_2_menu li.selected {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

}

#hw_2_menu li:hover {
    border-color: #000;
    cursor: pointer;
}


@media only screen and (min-width: 1000px) {
    .hw_2_MainContainer {

        border: solid 10px gray;
        border-radius: 50px;
    }

    .Photo {
        border-top-left-radius: 40px;
    }

    .StepsAndAllergens {
        float: left;
        width: 50%;
    }

    .Steps {
        border-bottom-right-radius: 40px;
    }

    .PhotoAndIngredients {
        float: left;
        width: 50%;
    }

    .PhotoAndIngredients img {
        border-top-left-radius: 40px;
    }

    .Photo {
        border-top-left-radius: 40px;
    }

    .Ingredients {
        border-bottom-right-radius: 40px;
    }

}

@media only screen and (max-width: 999px) {
    .hw_2_MainContainer {
        margin-bottom: 40px;
    }
}