* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    background-color: #f9f9f9;
    background-image: url("../img/bg12.jpg");
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    width: 700px;
}

nav {
    width: 100%;
    float: left;
    margin: 20px 0 20px 0;
    padding: 0;
}

nav ul {
    list-style: none;
    width: 531px;
    margin: 0 auto;
    padding: 0;
}

nav li {
    float: left;
    display: block;
    padding: 8px 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    background-color: #00dc0b30;
    color: #000;
    border: 1px solid #aaa;
    margin-left: -1px;
}

nav li:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

nav li:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

nav li:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

section {
    margin-top: 120px;
}

p {
    font-size: 40px;
    padding-left: 50px;

}

#about {
    position: relative;
}

#about>p {
    float: left;
}

#about>img {
    position: absolute;
    margin-top: 35px;
    top: calc(0%);
    right: calc(0% - 50px);
    z-index: -1;
    max-height: 500px;
}


#txt-swither {
    color: #00dc0a;
}

a:hover,
a:link,
a:visited {
    color: #00dc0a;
    text-decoration: none;
}

a:hover {
    color: #00dc0a;
    text-decoration: underline;
}

#skills,
#github,
#contacts {
    display: none;
}

.contacts {
    /*display: inline-block;
    margin: 0 auto;*/
}

.ContactLine {
    display: block;
    margin: 40px 0px 0px 150px;
}

.ContactIcon,
.ContactText {
    display: inline-block;
    margin: 0 5px;
    font-size: 25px;
}

.ContactIcon img {
    height: 50px;
}

#skills {}

.SkillLine {
    display: block;
    margin: 10px 0px 0px 50px;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;
}

.SkillDate,
.SkillName,
.SkillDescription {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
}

.SkillDate {
    width: 80px;
}

.SkillName {
    width: 180px;
}

.SkillDescription {
    color: darkgray;
}