* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    background-color: #f9f9f9;
    background-image: url("../img/bg13.jpg");
}

html {
    display: table;
    margin: auto;
}



body {
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 699px) {
    /* For mobile phone: */

    html,
    body {
        width: auto;
    }

    nav span {
        display: none;
    }

    nav #AboutMeIcon,
    nav #SkillsMeIcon,
    nav #GithubIcon,
    nav #ContactsIcon,
    nav #HomeworkIcon {
        display: inline-block;
        width: 64px;
        height: 64px;
    }

    nav li {
        padding: 4px 10px 0px 10px;
    }

    #about p {
        padding: 0 0 0 30px;
        font-size: 30px;
    }
}


@media only screen and (min-width: 700px) {
    /* For tablet: */

    body {
        width: 600px;
    }

    #flex-row-center {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    nav span {
        display: inline;
    }

    nav #AboutMeIcon,
    nav #SkillsMeIcon,
    nav #GithubIcon,
    nav #ContactsIcon,
    nav #HomeworkIcon {
        display: none;
    }

    nav li {
        padding: 8px 15px;
    }

    #about p {
        padding-left: 0px;
    }
}

@media only screen and (min-width: 1000px) {
    /* For desktop: */

    body {
        width: 900px;
    }

    #flex-row-center {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    nav span {
        display: inline;
    }

    nav #AboutMeIcon,
    nav #SkillsMeIcon,
    nav #GithubIcon,
    nav #ContactsIcon,
    nav #HomeworkIcon {
        display: none;
    }

    nav li {
        padding: 8px 15px;
    }

    #about p {
        padding-left: 100px;
    }

}

#nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

nav {
    /*float: left;*/
    margin: 10px 0 20px 0;
    padding: 0;
}

nav ul {
    list-style: none;
    /*width: 531px;*/
    /*margin: 0 auto;*/
    padding: 0;
}

nav li {
    float: left;
    display: block;
    font-weight: bold;
    font-size: 22px;
    background-color: #00dc0b30;
    color: #000;
    border: 1px solid #aaa;
    margin-left: -1px;
}

nav li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav li:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

#AboutMeIcon {
    background-image: url("/Web_Portf/icons/aboutme.png");
}

#SkillsMeIcon {
    background-image: url("/Web_Portf/icons/skills.png");
}

#GithubIcon {
    background-image: url("/Web_Portf/icons/github.png");
}

#ContactsIcon {
    background-image: url("/Web_Portf/icons/contacts.png");
}

#HomeworkIcon {
    background-image: url("/Web_Portf/icons/homework.png");
}

section {
    margin-top: 50px;
}

p {
    font-size: 40px;

}

#about {
    position: relative;
}

#about img {
    /*position: absolute;
    margin-top: 35px;
    top: calc(0%);
    right: calc(0% - 50px);
    z-index: -1;*/
    max-height: 500px;
}


#txt-swither {
    color: #00dc0a;
}

a:hover,
a:link,
a:visited {
    color: #009107;
}

#skills,
#github,
#contacts,
#homework {
    display: none;
}

#homework {
    margin-top: 10px !important;
}

#contacts {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
}

.ContactLine {
    display: flex;
    margin: 40px 0px;
}

.ContactIcon,
.ContactText {
    display: inline-block;
    margin: 0 5px;
    font-size: 25px;
}

.ContactIcon img {
    height: 50px;
}

.SkillLine {
    display: block;
    margin: 10px 0px 0px 50px;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px;
    border: 1px solid #aaa;
}

.SkillDate,
.SkillName,
.SkillDescription {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
}

.SkillDate {
    width: 90px;
}

.SkillName {
    width: 180px;
}

.SkillDescription {
    color: rgb(133, 133, 133);
}


/*  -  -  -  -  H  O  M  E  W  O  R  K  -  -  -  -  */

#hw_menu,
#hw_2_menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#hw_menu ul,
#hw_2_menu ul {
    list-style: none;
    padding: 0;
}

#hw_menu li {
    float: left;
    display: block;
    font-size: 16px;
    background-color: white;
    color: #000;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    padding-left: 9px;
    padding-top: 3px;
}

#hw_menu li:hover {
    background-color: #00dc0b30;
    cursor: pointer;
}

#hw_1,
#hw_2,
#hw_3 {
    display: none;
}



#hw_flex-row-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#hw_flex-row-center2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ee775290, #e73c7e90, #23a6d590, #23d5ab90);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    padding: 50px;
    border: 1px solid #aaa;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#hw_flex-row-center2 div div {
    margin-top: 12px;
}

#hw_col1 {
    margin-right: 40px;
    padding: 0 20px 20px 20px;
    width: 220px;
    border: solid 1px #aaa;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

#hw_col2 {
    margin-right: 40px;
    padding: 0 20px 20px 20px;
    width: 220px;
    border: solid 1px #aaa;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

#hw_col3 {
    margin-right: 0px;
    padding: 0 20px 20px 20px;
    width: 220px;
    border: solid 1px #aaa;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.hw_title {
    margin: 20px;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #00000080;
    font-weight: 600;
}

.hw_hr {
    border-top: solid 1px #aaa;
    padding-top: 12px;
}

.hw_price {
    font-size: 35px;
    font-weight: 600;
}

.hw_yellow_button {
    display: inline-block;
    padding: 5px 20px;
    border: solid 1px yellow;
    border-radius: 10px;
    background: linear-gradient(90deg, yellow, gold);
}